@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #714fff;
  --primary-text-color: #ffffff;
}

.container {
  position: relative;
}
.svg-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
